<h2>ユーザー情報</h2>
<div class="user-profile border-inset">
		<div class="row">
			<div class="col-xs-6">
				<%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size: '100x100' %>
			</div>
			<div class="col-xs-6 user-nickname">
				<h3><%= user.nickname %></h3>
			</div>
		</div>


	<% if current_user != user %>
	  <% if current_user.following?(user) %>
	    <%= link_to 'フォロー外す', user_relationships_path(current_user, follow_id: user.id), method: :delete, class: "btn btn-danger" %>
	  <% else %>
	    <%= link_to 'フォローする', user_relationships_path(current_user, follow_id: user.id), method: :POST, class: "btn btn-primary" %>
	  <% end %>
    <% else %>
		<%= link_to 'プロフィール編集', edit_user_path(current_user), class:"btn btn-warning" %>
	<% end %>



	<h4>リンク</h4>
	<table class="table table-striped">
	  <tbody>
	      <tr>
	          <td><%= link_to '本棚', reading_book_path(@user.id), class:"header-menu-item"  %></td>
	      </tr>
	      <tr>
	          <td><%= link_to 'フォロー数：' + user.followings.count.to_s, follow_path(follow_id: user.id) %></td>
		  </tr>
	      <tr>
	          <td><%= link_to 'フォロワー数：' + user.followers.count.to_s, follower_path(follow_id: user.id) %></td>
		  </tr>
<!-- 	      <tr>
	          <td><a href="" class="comment">コメント</a></td>
	      </tr> -->
	  </tbody>
	</table>

	<h4>自己紹介</h4>
	<%= user.introduction %>

</div>



