<!-- 読書ステータスを非同期で更新 -->
<div class="book-status-form">
	<h4 class="font-bold">本の登録</h4>
	<table class="book-status-table" id="book-status">
	  <tbody>
	      <tr>
	          <td>
	          	<% if @reading[:id].nil? %>
				    <%= link_to reading_books_path, reading_status: 4, method: :post, remote: true, class: "btn btn-default" do %>
				      <p class="book-status-item">読了に登録</p>
				    <% end %>
	          	<% else %>
	          		<% if @reading[:readed_status] %>
	          			<!-- 読了の場合 -->
						<%= link_to reading_book_path, reading_status: 4, method: :delete, remote: true, class: "btn btn-warning" do %>
					      <p class="book-status-item">読了から解除</p>
					    <% end %>
	          		<% else %>
	          			<!-- 未読了の場合 -->
					    <%= link_to reading_books_path, reading_status: 4, method: :post, remote: true, class: "btn btn-default" do %>
					      <p class="book-status-item">読了に登録</p>
					    <% end %>
	          		<% end %>
	          	<% end %>
	          </td>
	      </tr>
	      <tr>
	          <td>
	          	<% if @reading[:id].nil? %>
				    <%= link_to reading_books_path, reading_status: 3, method: :post, remote: true, class: "btn btn-default" do %>
				      <p class="book-status-item">読んでいる本に登録</p>
				    <% end %>
	          	<% else %>
	          		<% if @reading[:reading_status] == 3 %>
	          			<!-- 読了の場合 -->
						<%= link_to reading_book_path, reading_status: 3, method: :delete, remote: true, class: "btn btn-warning" do %>
					      <p class="book-status-item">読んでいる本から解除</p>
					    <% end %>
	          		<% else %>
	          			<!-- 未読了の場合 -->
					    <%= link_to reading_books_path, reading_status: 3, method: :post, remote: true, class: "btn btn-default" do %>
					      <p class="book-status-item">読んでいる本に登録</p>
					    <% end %>
	          		<% end %>
	          	<% end %>
	          </td>
		  </tr>
	      <tr>
	          <td>
				<% if @reading[:id].nil? %>
					<%= link_to reading_books_path, reading_status: 2, method: :post, remote: true, class: "btn btn-default" do %>
					  <p class="book-status-item">積読本に登録</p>
					<% end %>
				<% else %>
					<% if @reading[:reading_status] == 2 %>
						<!-- 読了の場合 -->
							<%= link_to reading_book_path, reading_status: 2, method: :delete, remote: true, class: "btn btn-warning" do %>
					      <p class="book-status-item">積読本から解除</p>
					    <% end %>
						<% else %>
							<!-- 未読了の場合 -->
					    	<%= link_to reading_books_path, reading_status: 2, method: :post, remote: true, class: "btn btn-default" do %>
					      <p class="book-status-item">積読本に登録</p>
					    <% end %>
					<% end %>
				<% end %>
	          </td>
		  </tr>
	      <tr>
	          <td>
				<% if @reading[:id].nil? %>
					<%= link_to reading_books_path, reading_status: 1, method: :post, remote: true, class: "btn btn-default" do %>
					  <p class="book-status-item">読みたい本に登録</p>
					<% end %>
				<% else %>
					<% if @reading[:reading_status] == 1 %>
						<!-- 読了の場合 -->
							<%= link_to reading_book_path, reading_status: 1, method: :delete, remote: true, class: "btn btn-warning" do %>
					      <p class="book-status-item">読みたい本から解除</p>
					    <% end %>
						<% else %>
							<!-- 未読了の場合 -->
					    	<%= link_to reading_books_path, reading_status: 1, method: :post, remote: true, class: "btn btn-default" do %>
					      <p class="book-status-item">読みたい本に登録</p>
					    <% end %>
					<% end %>
				<% end %>
	          </td>
	      </tr>
	  </tbody>
	</table>
</div>



