<div class="book-show-form">
	<div class="container">
		<div class="row">
			<% if @response["totalItems"] == 0 %>
				<h2 class="font-bold">検索条件「ISBN:<%= @search %>」と一致する書籍はありませんでした</h2>
			<% else %>
				<div class="book-sidebar">
					<div class="col-xs-12">
						<h2 class="font-bold"><%= @response["items"][0]["volumeInfo"]["title"] %></h2>
					</div>
					<div class="col-xs-3 border-inset">
						<div class="book-sidebar">
							<%= image_tag @response["items"][0]["volumeInfo"]["imageLinks"]["smallThumbnail"] %><br/>

							<h4 class="font-bold">作者</h4>
							<% @response["items"][0]["volumeInfo"]["authors"].each do |author| %>
									<%= author %><br/>
							<% end %>

							<% if user_signed_in? %>
								<%= render 'books/book_status', reading: @reading, book_id: @book.id %>
							<% end %>

							<h4 class="font-bold">概要</h4>
							<%= @response["items"][0]["volumeInfo"]["description"] %>
						</div>
					</div>

					<div class="col-xs-9">
						<% if user_signed_in? %>
							<%= render 'book_comments/book_comment', book: @book, comments: @comments %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
